:root {
    --bg: #f7f1d8;
    --violet: #7b5e9f;
    --orange: #fc7026;
    --pink: #ee8a9f;
    --blue: #14b1e3;
    --green: #0ba55c;
  }



.container {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    background: var(--bg);
  }
  @media (min-width: 768px) {
    .container {
      width: 750px !important;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px !important;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px !important;
    }
  }

 
 